@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@100;200;400&display=swap");

body {
  margin: 0%;
  background-color: #fffdf9;
  color: #331701;
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
}

.head-container {
  //   position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(20px, 20px);
  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px 0px 20px 0px;
    p {
      display: inline;
      font-family: "Lora", serif;
      font-size: 1.6rem;
      margin: 0px 20px;
    }
    p:hover {
      opacity: 0.8;
      animation: headerLogoHoverAnimation 600ms both;
    }
    @keyframes headerLogoHoverAnimation {
      from {
        opacity: 1;
      }
      to {
        opacity: 0.4;
      }
    }
    ul {
      margin-right: 20px;
      display: inline;
      list-style-type: none;
      li {
        display: inline;
        text-decoration: none;
        margin: 0px 20px 0px 20px;
      }
    }
  }
}
@media (max-width: 800px) {
  .head-container {
    .head {
      justify-content: center;
      ul {
        display: none;
      }
    }
  }
}

.hero-container {
  background-image: linear-gradient(to bottom, #ebe3d6, #ddd1bb);
  .hero {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-items: center;
    justify-content: center;
    .hero-content {
      display: flex;
      flex-direction: column;
      .hero-heading {
        font-size: 3rem;
        font-weight: 100;
        margin: 0;
        padding: 50px 20px 25px;
      }
      .hero-button-bar {
        padding: 0px 20px;
        margin: 0;
        display: flex;
        .button-primary {
          padding: 0.75em 3em;
          background-color: #331701;
          border: 0;
          border-radius: 8px;
          box-shadow: 0px 4px 8px rgba($color: #000000, $alpha: 0.5);
          color: #fffdf9;
          font-family: "Montserrat", sans-serif;
          font-size: 1em;
        }
        .button-secondary {
          padding: 0.75em 3em;
          background-color: #00000000;
          border: 0;
          //   border-radius: 8px;
          //   box-shadow: 0px 4px 8px rgba($color: #000000, $alpha: 0.5);
          color: #331701;
          font-family: "Montserrat", sans-serif;
          font-size: 1em;
        }
      }
    }
    .hero-image {
      margin: 0px 20px;
      max-height: 400px;
      margin-top: -70px;
    }
  }
}

@media (max-width: 800px) {
  .hero-container {
    .hero {
      .hero-content {
        .hero-heading {
          font-size: 1.5rem;
          font-weight: 200;
        }
        .hero-button-bar {
          display: flex;
          flex-direction: column;
          align-content: flex-start;
          justify-content: flex-end;
          position: relative;
          left: auto;
          // right: auto;
          //   padding: 0px 20px;
          //   margin: 0;
            .button-primary {
              padding: 0.75em 1em;
          //     background-color: #331701;
          //     border: 0;
          //     border-radius: 8px;
          //     box-shadow: 0px 4px 8px rgba($color: #000000, $alpha: 0.5);
          //     color: #fffdf9;
          //     font-family: "Montserrat", sans-serif;
          //   }
          //   .button-secondary {
          //     padding: 0.75em 3em;
          //     background-color: #00000000;
          //     border: 0;
          //     //   border-radius: 8px;
          //     //   box-shadow: 0px 4px 8px rgba($color: #000000, $alpha: 0.5);
          //     color: #331701;
          //     font-family: "Montserrat", sans-serif;
            }
        }
      }
      .hero-image {
        max-height: 300px;
        margin-top: -45px;
      }
    }
  }
}
